---
import Section from '@/components/cv/Section.astro';

import { basics } from '@/cv';
const { summary } = basics;
---

<Section title="Sobre mí">
  <ul>
    {summary.map(el => <li class="mb-4">{el}</li>)}
  </ul>
</Section>
