---
import Section from '@/components/cv/Section.astro';
import { skills } from '@/cv';

import CSS from '@/icons/skills/CSS.astro';
import CSSModules from '@/icons/skills/CSSModules.astro';
import Express from '@/icons/skills/Express.astro';
import Git from '@/icons/skills/Git.astro';
import GitHub from '@/icons/GitHub.astro';
import HTML5 from '@/icons/skills/HTML5.astro';
import JavaScript from '@/icons/skills/JavaScript.astro';
import MongoDB from '@/icons/skills/MongoDB.astro';
import Node from '@/icons/skills/Node.astro';
import Postman from '@/icons/skills/Postman.astro';
import React from '@/icons/skills/React.astro';
import ReactRouter from '@/icons/skills/ReactRouter.astro';
import Sass from '@/icons/skills/Sass.astro';
import Tailwind from '@/icons/skills/Tailwind.astro';

const SKILL_ICONS: Record<string, any> = {
  CSS,
  CSSModules,
  Express,
  Git,
  GitHub,
  HTML5,
  JavaScript,
  MongoDB,
  Node,
  Postman,
  React,
  ReactRouter,
  Sass,
  Tailwind,
};
---

<Section title="Habilidades">
  <ul class="inline-flex flex-wrap gap-2 justify-between">
    {
      skills.map(({ name }) => {
        const iconName = name;
        const Icon = SKILL_ICONS[iconName];

        return (
          <li class="flex items-center gap-1 rounded-md bg-neutral-200 px-2 py-1 text-[0.8rem] font-medium text-black" id="skills">
            {Icon && (
              <Icon
                class={`${iconName === 'CSSModules' || iconName === 'Express' ? 'invert' : ''} size-4`}
              />
            )}{' '}
            <span>{name}</span>
          </li>
        );
      })
    }
  </ul>
</Section>
