---
import Section from '@/components/cv/Section.astro';
import { strengths } from '@/cv';
---

<Section title="Fortalezas">
  <ul class="flex justify-between align-middle flex-wrap">
    {strengths.map((strength, index) => {
      if (index < strengths.length - 1) {
        return (<li class="text-[#666] text-sm">{strength}</strenght></li><span class="text-[#666]">&bull;</span>)
      } else {
        return <li class="text-[#666] text-sm">{strength}</li>
      }
    })}
  </ul>
</Section>
