---
const { title } = Astro.props;
---

<section
  class="mx-auto mb-12 mt-0 max-w-[700px] [@media(width<=700px)]:mb-9 print:mb-9"
>
  {title && <h2 class="mb-2 font-bold leading-6 text-2xl">{title}</h2>}
  <slot />
</section>
