---
import Layout from '@/layouts/Layout.astro';

import AboutMe from '@/components/AboutMe.astro';
import Projects from '@/components/Projects.astro';
import SectionContainer from '@/components/SectionContainer.astro';

import CodeIcon from '@/icons/Code.astro';
import ProfileCheckIcon from '@/icons/ProfileCheck.astro';
import Hero from '@/components/Hero.astro';
---

<Layout
  title="Portfolio de mpondev - Desarrollador y Programador Web"
  description="Contrata a mpondev para crear tu aplicación web o móvil. Desarrollador web."
>
  <main class="px-4">
    <SectionContainer
      id="top"
      class="py-44 [@media(max-width:435px)]:py-[7rem]"
    >
      <Hero />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2
        class="mb-6 flex items-center gap-x-5 text-3xl font-semibold text-black/80 dark:text-white/80"
      >
        <CodeIcon class="size-8" />Proyectos
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <h2
        class="mb-6 flex items-center gap-x-5 text-3xl font-semibold text-black/80 dark:text-white/80"
      >
        <ProfileCheckIcon class="size-8" /> Sobre mí
      </h2>
      <AboutMe />
    </SectionContainer>
  </main>
</Layout>
