---
import Layout from '@/layouts/Layout.astro';
---

<Layout
  title="Portfolio de mpondev - Desarrollador y Programador Web"
  description="Contrata a mpondev para crear tu aplicación web o móvil. Desarrollador web. Especializado en crear aplicaciones únicas"
>
  <main></main>
</Layout>
