---
import Layout from '@/layouts/Layout.astro';
import Badge from '@/components/Badge.astro';
import SocialPill from '@/components/SocialPill.astro';
import SectionContainer from '@/components/SectionContainer.astro';
import Projects from '@/components/Projects.astro';

import LinkedInIcon from '@/icons/LinkedIn.astro';
import GitHubIcon from '@/icons/GitHub.astro';
import MailIcon from '@/icons/Mail.astro';
import CodeIcon from '@/icons/Code.astro';
---

<Layout
  title="Portfolio de mpondev - Desarrollador y Programador Web"
  description="Contrata a mpondev para crear tu aplicación web o móvil. Desarrollador web. Especializado en crear aplicaciones únicas">
  <main>
    <SectionContainer id="top" class="py-44 pb-24">
      <img
        class="rounded-full size-16 mb-4"
        src="./Avatar.webp"
        alt="mpondev photo"
      />
      <h1 class="flex flex-row gap-x-6 pb-10 text-5xl font-bold text-white">
        Hey, soy Mario Ponce<a
          href="https://www.linkedin.com/in/mario-ponce-04920619/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center hover:scale-105 transition">
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-wrap text-2xl">
        <span class="text-primary-200">Desarrollador Web Fullstack.</span>
        <span class="text-red-200">De Valencia, España.</span>
        <span class="text-sky-200"
          >Especializado en crear aplicaciones únicas</span
        >
      </h2>

      <nav class="mt-8 flex gap-x-4">
        <SocialPill href="https://www.linkedin.com/in/mario-ponce-04920619/">
          <LinkedInIcon class="size-5" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/mpondev">
          <GitHubIcon class="size-5" />
          GitHub
        </SocialPill>
        <SocialPill href="mailto:mario@mpondev.com">
          <MailIcon class="size-5" />
          mario@mpondev.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2 class="mb-6 flex items-center gap-x-3 text-3xl font-semibold">
        <CodeIcon class="size-7" />Proyectos
      </h2>
      <Projects />
    </SectionContainer>
  </main>
</Layout>
