<article
  class="flex flex-col md:flex-row items-center justify-center gap-8 text-gray-700 dark:text-gray-300">
  <div
    class="order-2 text-pretty md:order-1 [&>p>strong]:font-mono [&>p>strong]:font-normal [&>p>strong]:text-primary-400 dark:[&>p>strong]:text-primary-200 [&>p]:mb-4">
    <p>
      Mi nombre es Mario Ponce. Estudié Administración y Dirección de Empresas,
      y desde 2000 tengo <strong>mi propia empresa de importación</strong>.
    </p>

    <p>
      Me gustan prácticamente todos los deportes, en especial el montañismo y el
      rugby. Soy un lector voraz.
    </p>
  </div>
  <img
    src="./AvatarMontana.webp"
    alt="Avatar picture"
    class="order-1 aspect-square h-full w-64 rotate-3 rounded-2xl bg-white object-cover p-1 ring-1 ring-white/20 dark:bg-primary-500/5 md:order-2 lg:w-64 lg:p-2"
    style="object-position: 50% 50%"
  />
</article>
