<section class="flex flex-col md:flex-row items-center justify-center gap-x-8">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-primary-400 [&>p>strong]:font-semibold text-pretty">
    <p>
      Mi nombre es Mario Ponce. Estudié Administración y Dirección de Empresas,
      y desde 2000 tengo <strong>mi propia empresa de importación</strong>.
    </p>

    <p>
      Me gustan prácticamente todos los deportes, en especial el montañismo y el
      rugby. Soy un lector voraz.
    </p>
  </div>
  <img
    src="./AvatarMontana.webp"
    alt="Avatar picture"
    class="rounded-full size-64"
  />
</section>
